body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  font-family: "Kode Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;

  background-color: #d0d0d0;
}

main {
  width: 400px;
  height: 600px;
  border-radius: 25px;
  background-color: #7c7c7c;
  box-shadow: -2px 6px 21px -4px rgba(0, 0, 0, 0.67);

  display: flex;
  flex-direction: column;
  align-items: center;
}

.brand {
  margin: 10px 0;
}

h2 {
  color: #1cd100;
  text-align: end;
  margin-right: 20px;
}

.result {
  font-family: "Kode Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 50px;
  width: 350px;
  height: 70px;
  border-radius: 8px;
  background-color: #1b1b1b;
  color: #1cd100;
}

.buttons {
  width: 350px;
  padding: 10px 0 0 0;
}

.button-row {
  display: flex;
  justify-content: space-between;
  margin: 10px 0 0 0;
}

button {
  font-family: "Kode Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  height: 70px;
  width: 70px;
}

.number {
  background-color: #333333;
  color: white;
  font-weight: bold;
  font-size: 25px;
  border-radius: 8px;
  border: none;
}

.number:hover {
  background-color: #1b1b1b;
}

.decimal {
  background-color: #333333;
  color: white;
  font-weight: bold;
  font-size: 25px;
  border-radius: 8px;
  border: none;
}

.decimal:hover {
  background-color: #1b1b1b;
}

.operator {
  border: none;
  border-radius: 8px;
  background-color: #f5c227;
}

.operator:hover {
  background-color: #f4ba0b;
}

.equal {
  background-color: #52ff36;
  border: none;
  border-radius: 8px;
}

.equal:hover {
  background-color: #1cd100;
}

.clear-section {
  margin-top: 10px;
  display: flex;
  justify-content: end;
}

#clear {
  width: 164px;
  border-radius: 8px;
  border: none;
}

#clear:hover {
  background-color: #ccc;
}
